/* Config */
* {
          margin: 0;
          padding: 0;
          box-sizing: border-box;
          font-family: 'Helvetica Neue', sans-serif;
}
:root {
          /* Colors */
          --primary: #CA3216;
          --primaryText: var(--white);
          --gray: #444;
          --lightGray: #888;
          --black: #111;
          --white: #fff;
          --whiteSoft: rgb(248, 222, 222);

          --text: var(--white);
          --background: var(--black);

          --boxColor: var(--white);
          --boxBackground: var(--gray);
          --boxBorder: var(--lightGray);
}

@media (prefers-color-scheme: light) {
          :root {
                    --text: var(--black);
                    --background: var(--whiteSoft);

                    --boxColor: var(--white);
                    --boxBackground: var(--lightGray);
                    --boxBorder: var(--gray);
          }
}

::selection {
          color: var(--white);
          background: var(--primary);
}

/* Main Components */
body {
          padding: 60px 10px;
          color: var(--text);
          display: flex;
          justify-content: center;
          background: var(--background);
}
header {
          content: '';
          top: 0; right: 0;
          padding: 45px 10px 0 10px;
          display: flex;
          flex-direction: row;
          justify-content: flex-end;
          position: fixed;
          z-index: 100;
          transition: 0.2s ease-in-out;
}
main {
          width: 100%;
          padding-right: 55px;
          max-width: 630px;
          display: flex;
          flex-direction: column;
          gap: 25px;
          transition: 0.2s ease-in-out;
}

input {
          -webkit-appearance: none;
          border-radius: 0;
          caret-color: var(--primary);
}

/* Create Form */
#create form {
          display: flex;
          flex-direction: column;
          gap: 10px;
}
#create .taskInput {
          position: relative;
}
#create .taskInput svg {
          display: none;
          top: 50%;
          right: 5px;
          height: 25px;
          width: 25px;
          transform: translateY(-50%);
          position: absolute;
}
#create input {
          padding: 0.4rem;
          padding-right: 30px;
          width: 100%;
          outline: none;
          color: var(--black);
          font-size: 1rem;
          border: 1px solid var(--primary);
}
#create input[type=submit] {
          color: var(--primaryText);
          background: var(--primary);
          cursor: pointer;
}

/* List */
ul {
          display: flex;
          flex-direction: column;
          gap: 5px;
          margin-bottom: 0.8rem;
}
ul li {
          --thisRotate: 0deg;
          --thisTransX: 0px;
          padding: 0.8rem;
          list-style: none;
          border: 1px solid var(--primary);
          word-wrap: break-word;
          position: relative;
          transform: rotate(var(--thisRotate)) translateX(var(--thisTransX));
          cursor: pointer;
}
ul li::before {
          content: '';
          top: 0; left: 0;
          height: 100%;
          width: 0%;
          background: var(--primary);
          position: absolute;
          z-index: -1;
          transition: .2s ease-in-out;
}
ul li:hover {
          color: var(--primaryText);
}
ul li:hover::before {
          width: 100%;
}
#list .end {
          font-size: 14px;
          color: var(--lightGray);
}
#list .rights {
          display: block;
}
#list .rights,
#list .rights * {
          margin-top: 0.6em;
          color: var(--gray);
          font-size: 10px;
          line-height: 1.4em;
}

/* Menu */
#menu {
          width: 45px; height: 45px;
          position: relative;
          display: flex;
          flex-direction: column;
          align-items: center;
          justify-content: center;
          gap: 4px;
          background: var(--boxBackground);
          border: none;
          cursor: pointer;
}
#menu .burger {
          width: 25px; height: 2px;
          background: var(--boxColor);
          transition: 0.2s ease-in-out;
}
#menu.close .burger:nth-child(1),
#menu.menu .burger:nth-child(1) {
          transform: translateY(7px) rotate(-45deg);
}
#menu.close .burger:nth-child(2),
#menu.menu .burger:nth-child(2) {
          opacity: 0;
}
#menu.close .burger:nth-child(3),
#menu.menu .burger:nth-child(3) {
          transform: translateY(-5px) rotate(45deg);
}
#menu a {
          text-decoration: none;
}
#menu .items {
          top: 100%;
          bottom: 0;
          right: 0;
          position: absolute;
          display: none;
          flex-direction: column;
          transition: 0.2s ease-in-out;
}
#menu.menu .items {
          display: flex;
}
#menu.menu .items .item {
          margin: -1px -1px 0 0;
          padding: 1rem 3rem;
          color: var(--boxColor);
          text-transform: capitalize;
          border: 1px solid var(--boxBorder);
          background: var(--boxBackground);
}
#menu.menu .items .item:hover {
          background: var(--primary);
}

#fileImport {
          --beforeAnimation: none;
          --beforeTop: none; --beforeLeft: none;
          --beforeWidth: 0px; --beforeHeight: 0px;
          --beforeScale: 1; --beforeOpacity: 1;
          --beforeTransition: none;
          top: 50%; left: 50%;
          width: calc(100% - 20px); height: calc(100% - 270px);
          max-width: 630px; max-height: 630px;
          position: fixed;
          border: 1px dashed var(--primary);
          background: var(--black);
          box-shadow: 0 0 1000px 1000px var(--black);
          transform: translate(-50%, -50%);
          overflow: hidden;
          cursor: pointer;
          color: transparent;
}
#fileImport::before {
          content: '';
          opacity: var(--beforeOpacity);
          aspect-ratio: 1/1;
          border-radius: 100%;
          top: var(--beforeTop); left: var(--beforeLeft);
          height: var(--beforeHeight);
          background: var(--primary);
          transition: var(--beforeTransition);
          position: absolute;
          scale: var(--beforeScale);
          transform: translate(-50%, -50%);
}
#fileImport::after {
          width: 100%;
          padding: 1rem;
          content: 'Click or Drag to Upload';
          top: 50%; left: 50%;
          position: absolute;
          transform: translate(-50%, -50%);
          color: var(--white);
          font-size: 18px;
          text-align: center;
          font-weight: 600;
}
#fileImport::-webkit-file-upload-button {
          display: none;
}

.dragging {
          transform: rotate(1deg);
}

/* Media Queries break points */
@media screen and (min-width: 775px) {
          main {
                    padding-right: 0px;
          }
}
@media screen and (min-width: 850px) {
          header {
                    padding: 45px 40px 0 10px;
          }
}